/* containers */
body, html {
    font: 24px Calibri, sans-serif;
    height: 100%;
    margin: 0;
}
.container {
    /* center card on screen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    /* page background color */
    background-color: black;
}

.header {
    /* text */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
}

.subtitle { /* year */
    font-weight: bold;
    font-size: 28px;
    text-anchor: middle;
}
.title { /* card type */
    font-weight: bold;
    font-size: 42px;
    letter-spacing: -1px;
    text-anchor: middle;
}
.description {
    font-size: 24px;
    text-anchor: middle;
}
.signature {
    margin-left: 3%;
    width: 94%;
    display: flex;
}
.blank { /* line for signature */
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin-top: -4px;
    flex: 1;
    margin-left: 1%;
    text-align: center;
}